@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: crimson;
    --secondary-color: #111;
    --text-color: #fff;
    --bg-color: #333;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
}

nav {
    width: 70%;;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem;
    z-index: 9;
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

nav::before {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    height: 140%;
    width: 140%;
    z-index: -1;
    filter: blur(8px);
}

#logo {
    color: var(--text-color);
    font-size: 1.5rem;
}

#logo span {
    color: var(--primary-color);
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 60%;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    transition: color .3s ease-in-out;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.nav-links .active {
    color: var(--primary-color); 
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    border: 1.5px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.btn:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.btn a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
}

/* Hero */

#hero {
    height: 100%;
    width: 100%;
    padding-inline: 15rem;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

h3{
    color: var(--text-color);
    font-size: 2rem;
}

.text {
    color: var(--primary-color);
}

#hero h1 {
    font-size: 5rem;
    line-height: 6rem;
    color: var(--text-color);
}

#hero p {
    font-size: 1.2rem;
    color: var(--text-color);
    opacity: .7;
}

.solid {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    transition: background-color .3s ease-in-out;
}

.solid:hover {
    background-color: var(--bg-color);
}

/* Skills */
#skills {
    width: 70%;
    min-height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 15rem 0 15rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px var(--secondary-color);
}

#skills::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 1rem;
    z-index: -1;
    filter: blur(8px);
    background-color: #fff;
}

.skill-set {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    color: var(--secondary-color);
    font-size: 1.1rem;
    gap: .5rem;
}

.skill img {
    width: 3rem;
}

#skills h3 {
    color: var(--secondary-color);
}

/* Projects */

#projects {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projects h3 {
    text-align: center;
}

.project {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.info {
    height: 25rem;
    width: 35.3rem;
    position: relative;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px #00000082;
    position: absolute;
    overflow: hidden;
}

.show {
    transition: all .8s ease-in-out;
    opacity: 1;
    transform: translateX(0);
}

.hide {
    opacity: 0;
    transform: translateX(-50px);
}

.project img {
    width: 500px;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.project li {
    width: 15rem;
    list-style: none;
    padding: .5rem 2rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px #00000082;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.project .curr {
    background-color: var(--primary-color);
}

/* Contact */

#contact {
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 1rem;
    height: 300px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 15rem 1rem 15rem;
}

#contact h2 {
    font-size: 2rem;
}

.socials {
    width: 70%;
}

.social {
    margin: 1rem 1rem 0 0;
    padding: .2rem 1rem;
    background-color: var(--text-color);
    border-radius: .5rem;
    border: 1px solid var(--text-color);
    transition-property: background-color, transform, border;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.social a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
}

.social:hover {
    transform: translateY(10px);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* footer */
footer {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 1rem;
}

@media (max-width: 756px) {
    nav {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        transform: translateX(0);
        border-radius: 0;
        flex-direction: column;
        gap: 1rem;
    }

    #logo {
        font-size: 1.2rem;
    }

    .nav-links {
        gap: 2rem;
        width: 100%;
    }

    nav .btn {
        display: none;
    }

    #hero {
        padding-inline: 1rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    #hero h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    #hero p {
        font-size: 1rem;
    }

    .solid {
        font: 1.2rem;
        padding: .5rem 1rem;
    }

    #skills {
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: .5rem;
    }

    #skills::after {
        border-radius: 0;
    }

    .skill-set {
        gap: 2rem;
    }

    #projects {
        padding-top: 5rem;
    }

    .project {
        flex-direction: column;
        gap: 1rem;
    }

    .info {
        height: 16rem;
        width: calc(300px + 2rem);
    }

    .project img {
        width: 300px;
    }

    .card {
        padding: 1rem;
        gap: .5rem;
        border-radius: .5rem;
    }

    ul {
        flex-direction: row;
        flex-wrap: wrap
    }

    .project li {
        padding: .5rem 1rem;
        width: 8rem;
        margin: 0.5rem;
    }

    #contact {
        width: 100%;
        margin: 0;
        flex-direction: column;
        height: auto;
        border-radius: 0;
    }

    #contact h2 {
        font-size: 1.5rem;
    }

    .socials {
        width: 100%;
    }

    .social {
        margin: .5rem 0 1rem 0;
        padding: .2rem .5rem;
    }

    footer {
        gap: 1rem;
        flex-direction: column;
    }
}